
    /* PC */
    @media screen and (min-width: 1024px) {
    
    }

    /* Tablet & mobile */
    @media (max-width: 1023px) {
        .btn {
            padding: 15px 17px;
        }

        .contact-form .form-control {
            padding: 13px 11px;
        }

        .contact-info {
            line-height: 2;
        }
        .socials-list {
            font-size: 48px;
            margin: 16px;
        }

        #footer .socials-list a {
            margin: 0 8px;
        }

        #footer .copyright a {
            padding: 12px 0;
        }
    }

    /* Tablet */
    @media screen and (min-width: 740px) and (max-width: 1023px) {
      

    }
    /* Mobile */
    @media screen and (max-width: 740px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }
    
    #header {
        overflow: hidden;
    }
        
    #header .mobile-menu-btn {
        display: block;    
    }

    #header .search-btn {
        display: none;
    }

    #nav,   
    #nav li a{
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav li { /* #nav > li*/
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }


    #nav .subnav {
        position: initial;
        background: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 1px 41px;
    }

    #content .member-item {
        margin-top: 25px;
        width: 100%;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }
}

 